<h1>Things I've Heard People Say <img id="talkinghead" src="talkinghead.jpg"></h1>

<article class="input">
  <form action="/insert" method="post" accept-charset="utf-8">
    <input type="text/plain" name="author" placeholder="author">
    <input type="text/plain" name="source" placeholder="source/book title">
    <input type="text/plain" name="quote" placeholder="quote">
    <button id="submit">Submit</button>
{{!--     <button id="search">Search</button>
 --}}  </form>
</article>

<article class="faves">
  {{#each quotes}}
    <div class="quotebox">
      <div class="quotebar">
        <img class="barImgs edit-button" id="{{_id}}" src="edit-button.png">
        <img class="barImgs delete-button" id="{{_id}}" src="trash.png">
      </div>
      <div class="quoteBody">
        <p>
          <span class="author">{{author}}</span> from "
          <span class="source">{{source}}</span>":
        </p>
      </div>
      <div class="quoteText">{{quote}}</div>
    </div>
  {{/each}}
</article>
